spring:
  application:
    name: cwa-verification-portal
keycloak:
  auth-server-url: http://localhost:8080/auth
  principal-attribute: preferred_username
  public-client: true
  realm: cwa
  resource: verification-portal
  security-constraints:
    -   authRoles:
          - teletan_generator
        securityCollections:
          -   patterns:
                - /*
server:
  error:
    whitelabel:
      enabled: false
  port: 8081
  servlet:
    context-path: /cwa
uri:
  endpoint:
    verification:
      service:
        teletan: http://verificationserver:9090/teletan
