<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="Content-Security-Policy" content="default-src 'self' style-src 'unsafe-inline'">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" type="text/css" href="/teletan.css"/>
  <title>TeleTAN Portal</title>
  <link rel="icon" href="/c-19_logo.png"/>
</head>
<body>
<div class="header">
  <img class="header-logo" src="/telekom_web_logo.png"/>
  <img class="header-text" src="/life_is_for_sharing.png"/>
</div>
<div class="footer">
  <p class="footer-font footer-copyright">© Telekom Deutschland GmbH</p>
  <p class="footer-font footer-imprint">Impressum</p>
  <img class="footer-dp-logo" src="/data_protect.png"/>
  <p class="footer-font footer-dp">Datenschutz</p>
</div>
<table class="c19-logo">
  <tr>
    <td style="width: 1px;"><img src="/c-19_logo.png"/></td>
    <td>TeleTAN Portal</td>
  </tr>
</table>

<!-- BEGIN page specific content  -->
<div class="text-error" style="top: 300px;" th:text="${message}"/>
<form action="/cwa/start" method="get">
  <input class="button" style="top: 400px;" type="submit" value="Zurück"/>
</form>
<!-- END page specific content  -->
</body>
</html>
