<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="Content-Security-Policy" content="default-src 'self' style-src 'unsafe-inline'">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" type="text/css" href="/teletan.css"/>
  <title>CWA TAN Portal</title>
  <link rel="icon" href="/c-19_logo.png"/>
  <script th:inline="javascript">
    /*<![CDATA[*/
    let healthAuthorityRawData = /*[[${healthAuthorityRawData}]]*/ '[]';
    /*]]>*/
  </script>
  <script src="/logout.js"></script>
  <script src="/jquery.min.js"></script>
  <script src="/tan.js"></script>
</head>
<body>
<div class="header">
  <img class="header-logo" src="/telekom_web_logo.png"/>
  <img class="header-text" src="/life_is_for_sharing.png"/>
</div>
<div class="footer">
  <p class="footer-font footer-copyright">© Telekom Deutschland GmbH</p>
  <p class="footer-font footer-imprint">Impressum</p>
  <img class="footer-dp-logo" src="/data_protect.png"/>
  <p class="footer-font footer-dp">Datenschutz</p>
</div>
<table class="c19-logo">
  <tr>
    <td style="width: 1px;"><img src="/c-19_logo.png"/></td>
    <td>CWA TAN Portal</td>
  </tr>
</table>

<!-- BEGIN page specific content  -->
<div class="text-big" style="top: 210px;">TAN erzeugen</div>
<div th:if="${!role_test && !role_event}" class="text-error" style="top: 360px">Sie besitzen nicht die benötigten Berechtigungen zum Erzeugen von TAN.</div>
<form action="/cwa/teletan" method="post">
  <div th:if="${role_test}" class="box" style="border: 1px solid gray; border-radius: 3px; top: 350px; height: 110px; width: 600px; left: 50%; margin-left: -300px; position: fixed">
    <div class="box-title" style="font-family: 'Telegrotesk Next Regular'; font-size: 18px; color: #262626; display: inline; position: relative; top: -10px; left: 20px; background-color: white; padding: 0 5px">
      TeleTan (Positiver PCR-Test)
    </div>
    <div class="text" style="top: 370px;">Erzeugen Sie eine neue TeleTAN für einen Patienten.</div>

    <input class="button" style="top: 400px;" type="submit" th:name="${'TEST'}" value="Eine TeleTan erzeugen" />
  </div>

  <div th:if="${role_event}" class="box" style="border: 1px solid gray; border-radius: 3px; top: 480px; height: 240px; width: 600px; left: 50%; margin-left: -300px; position: fixed">
    <div class="box-title" style="font-family: 'Telegrotesk Next Regular'; font-size: 18px; color: #262626; display: inline; position: relative; top: -10px; left: 20px; background-color: white; padding: 0 5px">
      PIW Tan (Positiver bei Event)
    </div>
    <div class="text" style="top: 510px;">
      Erzeugen Sie eine neue PIW Tan zur Warnung der Teilnehmer eines Events.<br />
      Wählen Sie zunächst das anfordernde Gesundheitsamt aus.
    </div>
    <input id="health-authority" type="text" class="input" style="top: 570px" list="health-authorities" />
    <datalist id="health-authorities"><!-- Populated by Script --></datalist>
    <div class="text" style="top: 620px;">
      Kopfnummer: <i id="health-authority-id-display">Wählen Sie das anfordernde Gesundheitsamt aus</i>
    </div>
    <input id="piw-tan-button" class="button" style="top: 650px;" type="submit" th:name="${'EVENT'}" value="Eine PIW Tan erzeugen" />
  </div>
  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
  <input id="health-authority-id" type="hidden" th:name="${'HAID'}" />
</form>

<!-- Current user and logout popup -->
<table class="user" onclick="showUserPopup()">
  <tr>
    <td><img  src="/user.png"/></td>
    <td style="padding-left: 10px;" th:text="${userName}"/>
  </tr>
</table>
<form action="/cwa/logout" method="post">
  <button class="button-menu button-logout" id="logout">Abmelden</button>
  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
</form>
<a th:href="${pwResetUrl}" target="_blank"><button class="button-menu button-pw-reset" id="password_reset">Passwort Ändern</button></a>
<!-- END page specific content  -->
</body>
</html>
